<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.scorifypro">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SCORIFY"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.SCORIFY">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity" />
        <activity android:name=".MatchSetupActivity" />
        <activity android:name=".PlayerSelectionActivity" />
        <activity android:name=".ScoringActivity" />
        <activity android:name=".ScorecardActivity" />
        <activity android:name=".TeamActivity" />
        <activity android:name=".HistoryActivity" />

    </application>

</manifest>